.vscode/

backend/venv/
backend/__pycache__/
backend/.env
backend/.vscode
backend/chroma_data/
*.pyc

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.vscode
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*